.inputContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.label {
  color: var(--color-primary-500);
  font-weight: 500;
}

.input {
  border: 1px solid transparent;
  height: 2.25rem;
  width: 100%;
  border-radius: .375rem;
  background: var(--color-gray-200);
  transition: all .2s ease-in-out;
  padding: .5rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.input:focus {
  outline: none;
  border: none;
}

.input:hover, .input:focus {
  border: 1px solid var(--color-gray-300);
}