.button {
  width: 100%;
  color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

@media (width < 37.5rem) {
  .button {
    font-size: 1.25rem;
    border-radius: 0.75rem;
  }
}
