.success {
  background: #A9EE65;
  color: #63AF18;
  --border: #88E32D;
}

.error {
  background: #FA9D9D;
  color: #D93E3E;
  --border: #EF7878;
}

.info {
  background: #ACD0FF;
  color: #5AA1FE;
  --border: #96C3FE;
}

.toast {
  width: 18.75rem;
  right: 1.25rem;
  top: 1.25rem;
  max-width: 18.75rem;
  border-radius: .375rem;
  padding: .75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: .5rem;
  position: fixed;
  opacity: 0;
  transform: translateX(100%) scale(0.7);
  transition: opacity 0.3s ease-in-out, 
              transform 0.3s ease-in-out;
  z-index: 1000;
}

.toastEnter {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.toastExit {
  opacity: 0;
  transform: translateX(100%) scale(0.7);
}

.closeButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  height: 1.25rem;
  width: 1.25rem;
  top: .5rem;
  right: .5rem;
  transition: transform .2s ease-in-out;
}

.closeButton:hover {
  scale: 1.1;
}

.toastTitle {
  border-bottom: 2px solid var(--border);
  font-size: 1.25rem;
}

.toastMessage {
  color: white;
}
