.success {
  background: #a9ee65;
  color: #63af18;
  --border: #88e32d;
}

.error {
  background: #fa9d9d;
  color: #d93e3e;
  --border: #ef7878;
}

.info {
  background: #acd0ff;
  color: #5aa1fe;
  --border: #96c3fe;
}

.toast {
  width: 18.75rem;
  right: 1.25rem;
  top: 1.25rem;
  max-width: 18.75rem;
  border-radius: 0.375rem;
  padding: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  opacity: 0;
  transform: translateX(100%) scale(0.7);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 99999;
}

.toastEnter {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.toastExit {
  opacity: 0;
  transform: translateX(100%) scale(0.7);
}

.closeButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  height: 1.25rem;
  width: 1.25rem;
  top: 0.5rem;
  right: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.closeButton:hover {
  scale: 1.1;
}

.toastTitle {
  border-bottom: 2px solid var(--border);
  font-size: 1.25rem;
}

.toastMessage {
  color: white;
}
