.allNewsContainer {
  min-height: calc(100vh - 2.5rem);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.cardNewsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 19.375rem);
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media(width < 50rem) {
  .cardNewsContainer {
    grid-template-columns: repeat(auto-fill,17.5rem);
    gap: 1.25rem;
  }
}