.newsCard {
  display: flex;
  flex-direction: column;
  width: 19.375rem;
}

.newsImage > img {
  object-fit: cover;
  width: 19.375rem;
  height: 11.375rem;
  border-radius: .375rem;
}

.newsTitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-secondary-100);
} 

.newsText {
  margin-top: .375rem;
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: .75rem;
  color: var(--color-primary-500);
}

.newsFooter {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsFooter a {
  padding: .375rem .625rem;
  font-size: .875rem;
  border-radius: .375rem;
  font-weight: 500;
  color: white;
  background: var(--color-primary-400);
  transition: all .2s ease-in-out;
}

.newsFooter a:hover {
  background: var(--color-primary-300);
}

.newsFooter span {
  font-size: .875rem;
  font-weight: 400;
  color: var(--color-gray-500);
}

@media(width < 50rem) {
  .newsCard {
    width: 17.5rem;
  }

  .newsImage > img {
    width: 17.5rem;
  }
}