.container {
  width: 100%;
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid var(--color-gray-200);
}

.titleHeader {
  font-size: 2.5rem;
  color: var(--color-secondary-100);
  font-weight: 600;
  text-transform: capitalize;
}

.actions {
  display: flex;
  gap: 2rem;
}

.actions li {
  background: var(--color-gray-50);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.actions li:hover,
.actions li:focus,
.actions li:active {
  background: var(--color-gray-300);
}

.actions li a {
  width: 24px;
  height: 24px;
}

@media (width < 23.75rem) {
  .container {
    gap: 1rem;
  }
}
