:root {
  --color-primary-50: #EDFCFD;
  --color-primary-100: #E0FBFC;
  --color-primary-200: #98C1D9;
  --color-primary-300: #3D5A80;
  --color-primary-400: #1E4E8E;
  --color-primary-500: #293241;

  --color-green: #7CFC00;
  --color-red: #D22B2B;

  --color-secondary-100: #EE6C4D;

  --color-gray-50: #F7F8F9;
  --color-gray-100: #F1F5F8;
  --color-gray-200: #E8EFF2;
  --color-gray-300: #CCD8DE;
  --color-gray-400: #A0ACB2;
  --color-gray-500: #646F75;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--color-primary-500);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

.layout {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  column-gap: 1.25rem;
}

.sidebar {
  grid-column: 1;
}

.header {
  grid-column: 2;
  grid-row: 1;
}

.main-content {
  grid-column: 2;
  grid-row: 2;
}
@media(width < 100rem) {
  .layout {
    grid-template-columns: 300px 1fr 400px;
  }
}

@media(width < 87.5rem) {
  .layout {
    grid-template-columns: 300px 1fr;
  }

  .header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    gap: 3rem;
  }
  
  .main-content {
    grid-column: 2;
    grid-row: 2;
  }
}


@media(width < 62.5rem) {
  .sidebar {
    display: none;
  }

  .layout {
    grid-template-columns: 1fr;
  }

  .header {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    gap: 3rem;
  }
  
  .main-content {
    grid-column: 1;
    grid-row: 2;
    }
  }