:root {
  --color-primary-50: #edfcfd;
  --color-primary-100: #e0fbfc;
  --color-primary-200: #98c1d9;
  --color-primary-300: #3d5a80;
  --color-primary-400: #1e4e8e;
  --color-primary-500: #293241;

  --color-green: #7cfc00;
  --color-red: #d22b2b;

  --color-secondary-100: #ee6c4d;

  --color-gray-50: #f7f8f9;
  --color-gray-100: #f1f5f8;
  --color-gray-200: #e8eff2;
  --color-gray-300: #ccd8de;
  --color-gray-400: #a0acb2;
  --color-gray-500: #646f75;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--color-primary-500);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  --sb-size: 6px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--color-primary-100);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-primary-200);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--color-primary-200) var(--color-primary-100);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

.layout {
  padding: 1.25rem;
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
  grid-template-columns: 400px 1fr 400px;
  column-gap: 1.25rem;
}

nextjs-portal {
  display: none;
}

.sidebar {
  padding-top: 0;
  grid-column: 1;
}

.header {
  grid-column: 2;
  grid-row: 1;
}

.main-content {
  grid-column: 2;
  grid-row: 2;
  max-width: 64.25rem;
}

.book-preview {
  grid-column: 3;
  grid-row: 2;
}

.footer {
  grid-column: 2;
  grid-row: 3;
}

@media (width < 112.5rem) {
  .layout {
    grid-template-columns: 300px 1fr;
  }

  .header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    gap: 3rem;
  }

  .main-content {
    grid-column: 2;
    grid-row: 2;
  }

  body.preview-active {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

@media (width < 62.5rem) {
  .sidebar {
    display: none;
  }

  .layout {
    grid-template-columns: 1fr;
    column-gap: 0;
    margin: 0;
  }

  .header {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    gap: 3rem;
  }

  .main-content {
    grid-column: 1;
    grid-row: 2;
  }

  .footer {
    /* max-width: 100%; */
    grid-column: 1;
    grid-row: 3;
  }
}

@media (width < 37.5rem) {
  .layout {
    padding: 0.75rem;
  }
  h1 {
    line-height: 1.2;
  }
}
