.heroContainer {
  padding-block: 1.25rem;
  align-items: center;
  max-width: 53.75rem;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content > h1 {
  font-size: 2.5rem;
}

.buttons {
  display: flex;
  gap: 1.25rem;
}

.content > p {
  font-weight: 500;
}

@media(width < 100rem) {
  .heroContainer {
    max-width: 100%;
  }

  .decImage img {
    width: 18.75rem;
    height: 18.75rem;
  }
}

@media(width < 87.5rem) {
  .heroContainer {
    max-width: 100%;
  }
}

/* @media(width < 81.25rem) {
  .decImage {
    display: none;
  }
} */

@media(width < 62.5rem) {
  .decImage {
    display: block;
  }
}

@media(width < 47.5rem) {
  .heroContainer {
    max-width: 100%;
  }
  .decImage {
    display: none;
  }
}

@media(width < 25rem) {
  .buttons {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
}