.testimonialsContainer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.testimonialsContainer > h1 {
  font-size: 2.5rem;
  color: var(--color-primary-300);
  margin-bottom: 1.25rem;
}

.testimonialsCards {
  width: 62.5rem;
  display: grid;
  grid-template-columns: repeat(3,320px);
  gap: 1.25rem;
  overflow-x: auto;
}

@media(width < 85rem) {
  .testimonialsCards {
    width: 56.25rem;
  }
}

@media(width < 80.625rem) {
  .testimonialsCards {
    width: 52.5rem;
  }
}

@media(width < 77.5rem) {
  .testimonialsCards {
    width: 50rem;
  }
}

@media(width < 72.5rem) {
  .testimonialsCards {
    grid-template-columns: repeat(3,17.5rem);
    width: 46.25rem;
  }
}

@media(width < 71.25rem) {
  .testimonialsCards {
    width: 42.5rem;
  }
}

@media(width < 67.5rem) {
  .testimonialsCards {
    width: 37.5rem;
  }
}

@media(width < 62.5rem) {
  .testimonialsCards {
    width: 57.5rem;
  }
}

@media(width < 59.375rem) {
  .testimonialsCards {
    width: 56.25rem;
  }
}

@media(width < 57.5rem) {
  .testimonialsCards {
    width: 51.25rem;
  }
}

@media(width < 53.125rem) {
  .testimonialsCards {
    width: 45rem;
  }
}

@media(width < 46.875rem) {
  .testimonialsCards {
    width: 38.75rem;
  }
}

@media(width < 40.625rem) {
  .testimonialsCards {
    width: 32.5rem;
  }
}

@media(width < 34.375rem) {
  .testimonialsCards {
    width: 26.25rem;
  }
}

@media(width < 28.125rem) {
  .testimonialsCards {
    width: 20rem;
  }
}

@media(width < 21.875rem) {
  .testimonialsCards {
    width: 17.5rem;
  }
}