.form {
  height: calc(100vh - 2.5rem);
  display: flex;
  justify-content: center;
}

.formInputs {
  max-width: 800px;
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputTextsContainer,
.inputImageContainer {
  width: 100%;
}

.buttonContainer {
  align-self: self-start;
}

.inputTextsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
